---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/geocode/1+Brown+Street,+Philadelphia,+PA+19123.json?key=TOMTOM_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 581059cc-054d-4e83-a1f9-3a529741e0c8
      X-Apigee.target-Latency:
      - '148'
      X-Tomtom-Processed-By:
      - eastus
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"1 brown street philadelphia pa 19123","queryType":"NON_NEAR","queryTime":144,"numResults":2,"offset":0,"totalResults":2,"fuzzyLevel":1},"results":[{"type":"Point
        Address","id":"1uvvfGR-UTh5a8aL285xwg","score":11.9729099274,"matchConfidence":{"score":1},"address":{"streetNumber":"1","streetName":"Brown
        Street","municipalitySubdivision":"Northern Liberties","municipality":"Philadelphia","countrySecondarySubdivision":"Philadelphia","countrySubdivision":"PA","countrySubdivisionName":"Pennsylvania","postalCode":"19123","extendedPostalCode":"19123-3107","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1 Brown Street, Philadelphia,
        PA 19123","localName":"Philadelphia"},"position":{"lat":39.96246,"lon":-75.13755},"viewport":{"topLeftPoint":{"lat":39.96336,"lon":-75.13872},"btmRightPoint":{"lat":39.96156,"lon":-75.13638}},"entryPoints":[{"type":"main","position":{"lat":39.96221,"lon":-75.13764}}]},{"type":"Point
        Address","id":"VZKcrE98n773rQCGyU08zA","score":11.9400367737,"matchConfidence":{"score":0.9748234863250738},"address":{"streetNumber":"152
        1/2","streetName":"Brown Street","municipalitySubdivision":"Northern Liberties","municipality":"Philadelphia","countrySecondarySubdivision":"Philadelphia","countrySubdivision":"PA","countrySubdivisionName":"Pennsylvania","postalCode":"19123","extendedPostalCode":"19123-3012","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"152 1/2 Brown Street, Philadelphia,
        PA 19123","localName":"Philadelphia"},"position":{"lat":39.96263,"lon":-75.1402},"viewport":{"topLeftPoint":{"lat":39.96353,"lon":-75.14137},"btmRightPoint":{"lat":39.96173,"lon":-75.13903}},"entryPoints":[{"type":"main","position":{"lat":39.96276,"lon":-75.14016}}]}]}'
  recorded_at: Sat, 03 Jun 2023 19:41:02 GMT
recorded_with: VCR 6.1.0
